:root{
    --color-principal:#2A4153;
    --color-secundario: #ffff;
    --color-panel: #F5F5F7;
    --color-letra-parrafo: #B3A6AD;
    --color-letra-title: #6C757D;
    --hover-menu: #dedede30;
    --bg-p-red: #FA5C7C;
    --bg-p-blue: #727CF5;
    --bg-p-green:#0ACF97;
    --bg-p-black: #6C757D;
    --width-panel: 280px;
    --activeli : #c8c8c86b;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
label{
    color: var(--color-letra-title);
    font-size: 15px;
}
.btn-import{
    display: flex;
    outline: none;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    align-items: center;
}
form label{
    font-weight: bold !important;
}
.btn-import .material-icons{
    font-size: 23px;
    color: var(--color-secundario);
}
.btn-primary{
    background: var(--bg-p-blue) !important;
}
.btn-danger{
    background: var(--bg-p-red) !important;
}
form fieldset legend{
    color: var(--color-letra-title) !important;
}
table thead tr th{
    color: var(--color-letra-title) !important;
    font-weight: 500;
}
.navegacion{
    background: var(--color-principal);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width-panel);
    bottom: 0;
    overflow: hidden;
}
.mi-perfil .info-perfil{
    color: white;
    font-size: 12px;
}
.navegacion .mi-logo{
    height: 50px;
}
.sub-menu .activeli{
    background: var(--activeli) !important;
}
.menu .activesub{
    background: #0095ff !important;
}
.menu .activesub .title+span{
    transform: rotate(180deg) !important;
}
.navegacion ul{
    list-style: none; 
}
.navegacion ul > li {
    /* border-top-left-radius: 30px; */
    /* border-bottom-left-radius: 30px; */
    padding: 10px 15px;
    position: relative;
}
.navegacion ul li a{
    color: var(--color-secundario);
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 12px;
    text-decoration: none;
    position: relative;
}
.navegacion ul li a .title {
    width: calc(100% - 35px);
}
.menu .material-icons{
    font-size: 20px;
    margin-right: 10px;
}
.navegacion ul .hover-menu:hover {
    background: var(--hover-menu);
}
.navegacion ul .hover-menu:hover a {
    /* color: var(--color-principal); */
}
.panel{
    width: calc(100% - var(--width-panel));
    margin-left: var(--width-panel);
}
.sub-menu li{
    padding-left: 10px !important;
    /* display: none; */
}
.info-person{
    display: flex;
    justify-content: space-between;
}
.btn-info-menu{
    outline: none;
    border: none;
    padding: 10px;
    background: transparent;
    transition: background .3s ease-in-out;
    cursor: pointer;
}
.btn-info-menu span{
    color: var(--bg-p-blue);
    font-size: 30px;
}
.btn-info-menu:hover{
    background: rgba(206, 206, 206, 0.247);
}
.cuerpo-panel{
    height: calc(100vh - 57px);
    width: calc(100% - var(--width-panel));
    overflow-y: auto;
    margin-left: var(--width-panel);
    padding: 20px 10px;
    background:var(--color-panel);
}
.legend-add{
    font-size: 17px;
}
button small,
button small i{
    user-select: none;
    pointer-events: none;
}
.form-required > label::after {
    content: "*";
    color: red;
}
.box-my{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    padding-right: 10px;
}
.dropdown-menu a{
    font-size: 13px;
}